img.rounded {
    border-radius: 30px !important;
}

body {
    margin: 0;
    z-index: 1;
    background-color: #212529;
}

#about {
    position: relative;
    z-index: 1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}